*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{margin: 0;
    font-size: 1rem;
}
header{
    height: 130px;
    width: 100vw;
    display: grid;
    grid-template-rows: minmax(100px auto) minmax(30px auto);
}
header h1{
    max-width: 100vw;
    background-color: #f08c8c;
    text-align: center;
  
}
nav{
    background-color: #f08c8c91;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 7px;
    box-sizing: border-box;
}
nav a:hover{
    border-top: 1px solid black;
}
main{
    height: 800px;
    max-width: 100vw;
    
}
footer{
    height: 100px;
    background-color: #f08c8c;
    max-width: 100vw;
    
    
}